<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test</title>
    <script>
        function onChange(element) {
            const pageNumberElement = element.getElementsByClassName('pageNumber')[0];
            const totalPagesElement = element.getElementsByClassName('totalPages')[0];
            if (pageNumberElement.textContent === totalPagesElement.textContent) {
            }
        }
    </script>
    <style>
        html {
            -webkit-print-color-adjust: exact;
        }

        body {
            font-family: Popins, sans-serif;
        }

        .flex {
            display: flex;
        }

        .align-center {
            align-items: center;
        }

        .justify-center {
            justify-content: center;
        }

        .justify-left {
            justify-content: left;
        }

        .justify-between {
            justify-content: space-between;
        }

        .rotate-90 {
            transform: rotate(-90deg);
        }

        .logo-icon {
            width: 20px;
            height: 20px;
        }

        .logo-text {
            font-size: 16px;
            margin: 1.5px 0px 0px 10px;
        }

        .header-address {
            font-size: 12px;
            font-weight: bold;
            margin: 6px 0px 0px 10px;
        }

        .footer-description {
            font-size: 12px;
            font-weight: bold;
            margin: 10px 0px 0px 0px;
            color: rgb(0, 94, 255);
        }

        .footer-doc-name {
            font-size: 12px;
            font-weight: bold;
            margin: 10px 0px 0px 0px;
        }

        .footer-grey-text {
            color: #626e99;
        }

        .grad-hr {
            background: rgb(0, 94, 255);
            background: linear-gradient(90deg, rgba(0, 94, 255, 1) 0%, rgba(33, 221, 255, 1) 100%);
            height: 2px;
            border-width: 0;
        }

        .marker-separator {
            margin: 15px 0px 0px 0px;
        }

        .marker-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .marker-text {
            font-size: 14px;
            font-weight: 400;
            margin: 1.5px 0px 0px 2px;
        }

        .marker-hr {
            background: rgb(0, 94, 255);
            background: linear-gradient(90deg, rgba(0, 94, 255, 1) 0%, rgba(33, 221, 255, 1) 100%);
            height: 2px;
            border-width: 0;
            width: 100%;
            margin: 10px 0px 0px 12px;
        }

        .chart-box {
            margin: 10px 0px 0px 0px;
        }

        .chart-box-header {
            height: 32px;
            background-color: #e8eefb;
            border-radius: 15.76px 15.76px 0px 0px;
            padding: 10px 0px 0px 20px;
            color: #1463ff
        }

        .chart-box-content {
            background-color: #f1f3f4;
            border-radius: 0px 0px 15.76px 15.76px;
            padding: 30px 40px 30px 0;
        }

        .chart-box-content-empty {
            background-color: #f1f3f4;
            border-radius: 0px 0px 15.76px 15.76px;
            padding: 30px;
        }

        .chart-container {
            border-radius: 15.76px;
            background-color: #ffffff;
            padding: 20px;
        }

        .empty {
            height: 18px;
        }

        .y-label{
            font-size: 15px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="header">
            <div class="flex justify-between">
                <div class="flex justify-center">
                    <img class="logo-icon" src='<%- DEPLOYED_URI %>/realAssistLogo.png' alt="Google" />
                    <!-- Remember to change this to the realAssist logo src -->
                    <p class="logo-text">RealAssist.AI
                    <p>
                </div>
                <div>
                    <p class="header-address">123 Main Street, Dover, NH 03820-4667</p>
                </div>
            </div>
            <div class="grad-hr"></div>
        </div>

        <div class="chart-box">
            <div class="chart-box-header">
            </div>
            <div class="chart-box-content-empty">
                <div class="chart-container empty">
                </div>
            </div>
        </div>

        <div class="chart-box">
            <div class="chart-box-header">
            </div>
            <div class="chart-box-content-empty">
                <div class="chart-container empty">
                </div>
            </div>
        </div>

        <div class="chart-box">
            <div class="chart-box-header">
            </div>
            <div class="chart-box-content-empty">
                <div class="chart-container empty">
                </div>
            </div>
        </div>

        <div class="marker-separator">
            <div class="flex">
                <img class="marker-icon" src="http://localhost:3000/locationIcon.png" alt="">
                <p class="marker-text">Crime</p>
                <div class="marker-hr" style="width:100vw"></div>

            </div>
        </div>

        <div class="chart-box">
            <div class="chart-box-header">
                Burglary
            </div>
            <div class="chart-box-content">
                <div class="flex align-center">
                    <div>
                        <p class="rotate-90 y-label">Arrests</p>
                    </div>
                    <div class="chart-container" style="width: 100%">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-box" style="margin-top:60px">
            <div class="chart-box-header">
            </div>
            <div class="chart-box-content-empty">
                <div class="chart-container empty">
                </div>
            </div>
        </div>

        <div class="chart-box">
            <div class="chart-box-header">
            </div>
            <div class="chart-box-content-empty">
                <div class="chart-container empty">
                </div>
            </div>
        </div>

        <div class="chart-box">
            <div class="chart-box-header">
            </div>
            <div class="chart-box-content-empty">
                <div class="chart-container empty">
                </div>
            </div>
        </div>

        <div id="footer" onchange="onChange(this)">
            <div class="grad-hr"></div>
            <div class="flex justify-between">
                <div class="flex justify-center">
                    <p class="footer-description">Report Generated on October 14, 2023</p>
                </div>
                <div>
                    <p class="footer-doc-name">RealAssist Property Report | Page <span class="pageNumber"></span> <span
                            class="footer-grey-text">of <span class="totalPages"></span></span></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const labels = JSON.parse('<%- JSON.stringify(years) %>');
        const burglary_data = JSON.parse('<%- JSON.stringify(burglary_data) %>');
        const Utils = {
            months: ({ count }) => {
                const monthNames = [
                    'January', 'February', 'March', 'April', 'May', 'June', 'July'
                ];

                return monthNames.slice(0, count);
            },
            numbers: ({ count, min, max }) => {
                const randomNumbers = [];
                for (let i = 0; i < count; i++) {
                    randomNumbers.push(Math.floor(Math.random() * (max - min + 1) + min));
                }

                return randomNumbers;
            },
            CHART_COLORS: {
                red: 'red',
                blue: 'blue',
            },
        };

        const DATA_COUNT = 7;
        const NUMBER_CFG = { count: DATA_COUNT, min: -100, max: 100 };

        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'No of Burglaries',
                    data: burglary_data,
                    borderColor: "#1463ff",
                    backgroundColor: "#1463ff",
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                animation: false,
                plugins: {
                    legend: {
                        display: false,
                        position: 'bottom',
                    },
                    title: {
                        display: false,
                        position: 'left',
                        text: 'Arrests'
                    }
                },
            },
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</body>

</html>